@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"),
    url("./assets/fonts/myriadpro/MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"),
    url("./assets/fonts/myriadpro/MYRIADPRO-BOLD.woff") format("woff");
}

:root {
  --primary: #b084bc;
  --light: #ededed;
  --dark: #1f1f1f;
}

html {
  margin: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-image: url("./assets/tex.jpeg");
  background-size: 400% 400%;
  -webkit-animation: gradient 80s ease infinite;
  animation: gradient 80s ease infinite;
  height: 100vh;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* bg*/

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3e1e68;
  overflow: hidden;
}

.background span {
  width: 47vmin;
  height: 47vmin;
  border-radius: 47vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #b15ee8;
  top: 3%;
  left: 1%;
  animation-duration: 14s;
  animation-delay: -45s;
  transform-origin: 25vw 6vh;
  box-shadow: -94vmin 0 12.121500536131604vmin currentColor;
}
.background span:nth-child(1) {
  color: #703875;
  top: 67%;
  left: 48%;
  animation-duration: 18s;
  animation-delay: -19s;
  transform-origin: -11vw 13vh;
  box-shadow: -94vmin 0 12.707032375153188vmin currentColor;
}
.background span:nth-child(2) {
  color: #583c87;
  top: 77%;
  left: 21%;
  animation-duration: 29s;
  animation-delay: -49s;
  transform-origin: -19vw 5vh;
  box-shadow: 94vmin 0 12.214585303010265vmin currentColor;
}
.background span:nth-child(3) {
  color: #b15ee8;
  top: 36%;
  left: 57%;
  animation-duration: 38s;
  animation-delay: -38s;
  transform-origin: 20vw 10vh;
  box-shadow: 94vmin 0 12.14594974364915vmin currentColor;
}
.background span:nth-child(4) {
  color: #583c87;
  top: 82%;
  left: 98%;
  animation-duration: 8s;
  animation-delay: -4s;
  transform-origin: 9vw -16vh;
  box-shadow: -94vmin 0 11.75041276230348vmin currentColor;
}
.background span:nth-child(5) {
  color: #703875;
  top: 16%;
  left: 14%;
  animation-duration: 35s;
  animation-delay: -11s;
  transform-origin: -12vw 10vh;
  box-shadow: -94vmin 0 11.980474446530017vmin currentColor;
}
.background span:nth-child(6) {
  color: #703875;
  top: 55%;
  left: 16%;
  animation-duration: 41s;
  animation-delay: -5s;
  transform-origin: 5vw -19vh;
  box-shadow: 94vmin 0 12.383488318033542vmin currentColor;
}
.background span:nth-child(7) {
  color: #b15ee8;
  top: 81%;
  left: 40%;
  animation-duration: 27s;
  animation-delay: -22s;
  transform-origin: 6vw 22vh;
  box-shadow: 94vmin 0 12.001690490732509vmin currentColor;
}
.background span:nth-child(8) {
  color: #b15ee8;
  top: 25%;
  left: 75%;
  animation-duration: 43s;
  animation-delay: -9s;
  transform-origin: 13vw 2vh;
  box-shadow: 94vmin 0 12.457424162541383vmin currentColor;
}
.background span:nth-child(9) {
  color: #703875;
  top: 32%;
  left: 6%;
  animation-duration: 6s;
  animation-delay: -30s;
  transform-origin: 11vw 8vh;
  box-shadow: 94vmin 0 12.188379812633288vmin currentColor;
}
.background span:nth-child(10) {
  color: #703875;
  top: 58%;
  left: 47%;
  animation-duration: 10s;
  animation-delay: -47s;
  transform-origin: 10vw 16vh;
  box-shadow: 94vmin 0 11.752158819038026vmin currentColor;
}
.background span:nth-child(11) {
  color: #583c87;
  top: 36%;
  left: 57%;
  animation-duration: 11s;
  animation-delay: -6s;
  transform-origin: -17vw -9vh;
  box-shadow: 94vmin 0 12.35473572355587vmin currentColor;
}
.background span:nth-child(12) {
  color: #b15ee8;
  top: 2%;
  left: 27%;
  animation-duration: 23s;
  animation-delay: -28s;
  transform-origin: 5vw 19vh;
  box-shadow: 94vmin 0 11.982998879085297vmin currentColor;
}
.background span:nth-child(13) {
  color: #583c87;
  top: 39%;
  left: 25%;
  animation-duration: 43s;
  animation-delay: -28s;
  transform-origin: 16vw -5vh;
  box-shadow: 94vmin 0 12.166993004286656vmin currentColor;
}
.background span:nth-child(14) {
  color: #703875;
  top: 72%;
  left: 69%;
  animation-duration: 40s;
  animation-delay: -19s;
  transform-origin: -3vw 21vh;
  box-shadow: -94vmin 0 12.357059964248823vmin currentColor;
}
.background span:nth-child(15) {
  color: #b15ee8;
  top: 62%;
  left: 90%;
  animation-duration: 53s;
  animation-delay: -2s;
  transform-origin: 10vw 5vh;
  box-shadow: -94vmin 0 12.640860057882492vmin currentColor;
}
.background span:nth-child(16) {
  color: #583c87;
  top: 33%;
  left: 47%;
  animation-duration: 39s;
  animation-delay: -47s;
  transform-origin: 3vw 9vh;
  box-shadow: 94vmin 0 12.497590494871085vmin currentColor;
}
.background span:nth-child(17) {
  color: #703875;
  top: 70%;
  left: 74%;
  animation-duration: 50s;
  animation-delay: -30s;
  transform-origin: 25vw -22vh;
  box-shadow: 94vmin 0 12.731223231768546vmin currentColor;
}
.background span:nth-child(18) {
  color: #703875;
  top: 90%;
  left: 24%;
  animation-duration: 48s;
  animation-delay: -47s;
  transform-origin: -12vw -20vh;
  box-shadow: -94vmin 0 12.501782405824597vmin currentColor;
}
.background span:nth-child(19) {
  color: #703875;
  top: 21%;
  left: 19%;
  animation-duration: 9s;
  animation-delay: -23s;
  transform-origin: -15vw 12vh;
  box-shadow: -94vmin 0 11.889172278931337vmin currentColor;
}
.background span:nth-child(20) {
  color: #583c87;
  top: 53%;
  left: 4%;
  animation-duration: 21s;
  animation-delay: -35s;
  transform-origin: -5vw -2vh;
  box-shadow: -94vmin 0 11.830220701553815vmin currentColor;
}
.background span:nth-child(21) {
  color: #703875;
  top: 62%;
  left: 21%;
  animation-duration: 10s;
  animation-delay: -47s;
  transform-origin: -5vw 18vh;
  box-shadow: -94vmin 0 12.668306510145625vmin currentColor;
}
.background span:nth-child(22) {
  color: #703875;
  top: 53%;
  left: 23%;
  animation-duration: 51s;
  animation-delay: -35s;
  transform-origin: -3vw 21vh;
  box-shadow: -94vmin 0 12.56969538823845vmin currentColor;
}
.background span:nth-child(23) {
  color: #583c87;
  top: 12%;
  left: 89%;
  animation-duration: 46s;
  animation-delay: -36s;
  transform-origin: 10vw 13vh;
  box-shadow: 94vmin 0 12.195444749554689vmin currentColor;
}
.background span:nth-child(24) {
  color: #583c87;
  top: 19%;
  left: 38%;
  animation-duration: 49s;
  animation-delay: -22s;
  transform-origin: 15vw -19vh;
  box-shadow: -94vmin 0 11.750694849914305vmin currentColor;
}
.background span:nth-child(25) {
  color: #583c87;
  top: 29%;
  left: 86%;
  animation-duration: 45s;
  animation-delay: -40s;
  transform-origin: -5vw -19vh;
  box-shadow: -94vmin 0 12.60828478841426vmin currentColor;
}
.background span:nth-child(26) {
  color: #b15ee8;
  top: 69%;
  left: 36%;
  animation-duration: 31s;
  animation-delay: -5s;
  transform-origin: 16vw 23vh;
  box-shadow: 94vmin 0 11.896609190573681vmin currentColor;
}
.background span:nth-child(27) {
  color: #583c87;
  top: 52%;
  left: 52%;
  animation-duration: 21s;
  animation-delay: -29s;
  transform-origin: -6vw -11vh;
  box-shadow: 94vmin 0 12.445455272937972vmin currentColor;
}
.background span:nth-child(28) {
  color: #703875;
  top: 46%;
  left: 29%;
  animation-duration: 40s;
  animation-delay: -4s;
  transform-origin: -6vw 20vh;
  box-shadow: -94vmin 0 12.04674696219549vmin currentColor;
}
.background span:nth-child(29) {
  color: #b15ee8;
  top: 72%;
  left: 30%;
  animation-duration: 9s;
  animation-delay: -45s;
  transform-origin: -20vw 0vh;
  box-shadow: -94vmin 0 12.612782679824459vmin currentColor;
}
.background span:nth-child(30) {
  color: #583c87;
  top: 59%;
  left: 60%;
  animation-duration: 20s;
  animation-delay: -17s;
  transform-origin: -6vw -14vh;
  box-shadow: -94vmin 0 11.802291678395568vmin currentColor;
}
.background span:nth-child(31) {
  color: #b15ee8;
  top: 88%;
  left: 67%;
  animation-duration: 26s;
  animation-delay: -17s;
  transform-origin: 11vw 20vh;
  box-shadow: -94vmin 0 11.9980768463333vmin currentColor;
}
.background span:nth-child(32) {
  color: #b15ee8;
  top: 84%;
  left: 37%;
  animation-duration: 26s;
  animation-delay: -31s;
  transform-origin: -15vw 0vh;
  box-shadow: -94vmin 0 12.293354138172415vmin currentColor;
}
.background span:nth-child(33) {
  color: #703875;
  top: 8%;
  left: 79%;
  animation-duration: 23s;
  animation-delay: -18s;
  transform-origin: -7vw -22vh;
  box-shadow: -94vmin 0 12.604934994694107vmin currentColor;
}
.background span:nth-child(34) {
  color: #703875;
  top: 83%;
  left: 43%;
  animation-duration: 13s;
  animation-delay: -44s;
  transform-origin: -24vw 5vh;
  box-shadow: 94vmin 0 12.342376954650868vmin currentColor;
}
.background span:nth-child(35) {
  color: #583c87;
  top: 33%;
  left: 8%;
  animation-duration: 41s;
  animation-delay: -8s;
  transform-origin: -16vw 19vh;
  box-shadow: -94vmin 0 12.369734923080882vmin currentColor;
}
.background span:nth-child(36) {
  color: #b15ee8;
  top: 7%;
  left: 40%;
  animation-duration: 38s;
  animation-delay: -30s;
  transform-origin: 0vw 9vh;
  box-shadow: 94vmin 0 12.682638195996663vmin currentColor;
}
.background span:nth-child(37) {
  color: #583c87;
  top: 25%;
  left: 71%;
  animation-duration: 35s;
  animation-delay: -22s;
  transform-origin: 22vw -3vh;
  box-shadow: 94vmin 0 12.10612496951941vmin currentColor;
}
.background span:nth-child(38) {
  color: #583c87;
  top: 58%;
  left: 13%;
  animation-duration: 53s;
  animation-delay: -48s;
  transform-origin: -18vw 18vh;
  box-shadow: 94vmin 0 12.49250811026891vmin currentColor;
}
.background span:nth-child(39) {
  color: #b15ee8;
  top: 89%;
  left: 90%;
  animation-duration: 29s;
  animation-delay: -50s;
  transform-origin: -7vw -20vh;
  box-shadow: -94vmin 0 11.876002005788264vmin currentColor;
}
.background span:nth-child(40) {
  color: #703875;
  top: 65%;
  left: 20%;
  animation-duration: 25s;
  animation-delay: -42s;
  transform-origin: -15vw -18vh;
  box-shadow: 94vmin 0 12.01964692218852vmin currentColor;
}
.background span:nth-child(41) {
  color: #b15ee8;
  top: 32%;
  left: 66%;
  animation-duration: 23s;
  animation-delay: -45s;
  transform-origin: -22vw -1vh;
  box-shadow: -94vmin 0 12.084937594546982vmin currentColor;
}
.background span:nth-child(42) {
  color: #703875;
  top: 71%;
  left: 64%;
  animation-duration: 48s;
  animation-delay: -44s;
  transform-origin: -2vw 8vh;
  box-shadow: -94vmin 0 12.058346103908836vmin currentColor;
}
.background span:nth-child(43) {
  color: #703875;
  top: 56%;
  left: 10%;
  animation-duration: 51s;
  animation-delay: -45s;
  transform-origin: -24vw 25vh;
  box-shadow: 94vmin 0 12.183143804983839vmin currentColor;
}
.background span:nth-child(44) {
  color: #583c87;
  top: 67%;
  left: 81%;
  animation-duration: 28s;
  animation-delay: -21s;
  transform-origin: 7vw -22vh;
  box-shadow: 94vmin 0 12.553456948534585vmin currentColor;
}
.background span:nth-child(45) {
  color: #b15ee8;
  top: 70%;
  left: 83%;
  animation-duration: 10s;
  animation-delay: -35s;
  transform-origin: -4vw 12vh;
  box-shadow: -94vmin 0 12.31504944035462vmin currentColor;
}
.background span:nth-child(46) {
  color: #b15ee8;
  top: 49%;
  left: 33%;
  animation-duration: 53s;
  animation-delay: -15s;
  transform-origin: -5vw -20vh;
  box-shadow: -94vmin 0 12.12839389675683vmin currentColor;
}
.background span:nth-child(47) {
  color: #b15ee8;
  top: 69%;
  left: 78%;
  animation-duration: 18s;
  animation-delay: -18s;
  transform-origin: -2vw -17vh;
  box-shadow: -94vmin 0 11.901952325985249vmin currentColor;
}
.background span:nth-child(48) {
  color: #b15ee8;
  top: 67%;
  left: 9%;
  animation-duration: 24s;
  animation-delay: -35s;
  transform-origin: 21vw -6vh;
  box-shadow: 94vmin 0 11.808475816884753vmin currentColor;
}
.background span:nth-child(49) {
  color: #583c87;
  top: 61%;
  left: 82%;
  animation-duration: 15s;
  animation-delay: -43s;
  transform-origin: -14vw 25vh;
  box-shadow: -94vmin 0 12.182511049225264vmin currentColor;
}

/*navbar start*/

.nav-container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.nav-active {
  background-color: rgba(0, 0, 0, 0.797);
  box-shadow: 5px -1px 12px -5px grey;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  background-color: transparent;
  padding: 16px 32px 40px 32px;
  font-family: "Myriad Pro Regular", serif;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}

.hamburger {
  display: block;
  position: absolute;
  top: 16px;
  left: 13px;
  z-index: 100000000;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0, 0;
  transition: 0.3s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: #ffb9f6;
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(-2px, 21px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active:hover span {
  background-color: #ffb9f6;
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: space-between;
  margin: 5px -16px;
}

.menu a {
  color: var(--light);
  margin: 0 0px;
  text-align: center;
  width: fit-content;
  text-decoration: none;
  transition: 0.4s;
  padding: 12px 0px 6px 0px;
  border-bottom: transparent solid 2px;
}

.nav-item {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.menu a.is-active,
.menu a:hover {
  color: #ffb9f6;
  font-size: 1.45rem;
  font-weight: bold;
  border-bottom: #ffb9f6 solid 2px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100000;
  padding-top: 5rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: #000000e6;
  color: #fff;
  transition: 0.2s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 0.6rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
}

.mobile-menu a:hover {
  color: #ffb9f6;
  font-size: 1.55rem;
  font-weight: bold;
}

@media (min-width: 1300px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
  nav {
    padding: 16px 32px 20px 32px;
  }
}

/*navbar end*/

.container .contactinfo {
  display: flex;
  top: 0;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  font-family: "Baloo 2", cursive;
  background-image: url("./assets/banner.png");
}
.container .contactinfo h2 {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.container .contactinfo .info {
  position: relative;
  margin: 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}
.container .contactinfo .info li span:nth-child(1) {
  width: 40px;
  min-width: 40px;
}
.container .contactinfo .info li span:nth-child(1) img {
  max-width: 100%;
  filter: invert(83%);
  opacity: 0.5;
}
.container .contactinfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 100;
  opacity: 1;
}

.container .contactusform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 50px;
  background-color: #fff;
  top: 0;
}
.container .contactusform h2 {
  color: #c8a8cf;
  font-size: 24px;
  font-weight: 700;
}
.container .contactusform .formBox {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.container .contactusform .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
  width: 100% !important;
}
.container .contactusform .formBox .inputBox input,
.container .contactusform .formBox .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
}
.container .contactusform .formBox .inputBox textarea {
  min-height: 120px;
}
.container .contactusform .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.3s;
  pointer-events: none;
}
.container .contactusform .formBox .inputBox input:focus ~ span,
.container .contactusform .formBox .inputBox textarea:focus ~ span,
.container .contactusform .formBox .inputBox input:valid ~ span,
.container .contactusform .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff4136;
}
.container .contactusform .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background-color: #b084bc;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
  border-radius: 5px;
}
.container .contactusform .formBox .inputBox input[type="submit"]:hover {
  background-color: #302c77;
}
.container .contactusform .formBox .w50 {
  width: 47%;
}
.container .contactusform .formBox .w100 {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .background {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .container .contactinfo h2 {
    text-align: center;
  }
  .container .contactinfo .info {
    flex-direction: row;
  }
  .container .contactinfo li span:nth-child(2) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 900px) {
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
  }
  section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  section .container {
    position: relative;
    width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
    margin: 0 20px 0 20px;
  }
  section .container .contactinfo {
    position: absolute;
    top: 20%;
    width: 350px;
    height: calc(100% - 40%);
    z-index: 1;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.3);
    align-items: left;
  }
  section .container .contactinfo h2 {
    text-align: left;
  }
  section .container .contactinfo .info {
    flex-direction: column;
  }
  section .container .contactinfo li span:nth-child(2) {
    margin-right: 0;
  }
  section .container .contactusform {
    position: absolute;
    top: 10%;
    height: calc(100% - 20%);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    margin-left: 150px;
    padding-left: 250px;
  }
  section .container .contactusform .formBox {
    flex-direction: row;
  }
}

.socials {
  padding: 20px;
}

.socials a {
  padding: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.btn-class-name {
  color: rgb(254, 234, 246);
  border-radius: 0.5em;
  transition: 0.3s;
  background-color: rgba(254, 1, 154, 0.2);
  fill: rgb(254, 1, 154);
  font-family: monospace;
  font-weight: bolder;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: 2px solid rgb(254, 1, 154);
  box-shadow: 0 0 10px rgba(254, 1, 154, 0.4);
  outline: none;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  margin: 1em;
}

.btn-class-name:hover {
  box-shadow: 0 0 0 5px rgba(254, 1, 154, 0.5);
}

.btn-class-name span {
  transform: scale(0.95);
  transition: 0.3s;
}

.btn-class-name:hover span {
  transform: scale(1);
}

.btn-class-name svg {
  font-size: 0;
  transform: scale(0.5) translateX(0%) rotate(-180deg);
  transition: 0.3s;
}

.btn-class-name:hover svg {
  font-size: 20px;
  transform: scale(1) translateX(20%) rotate(0deg);
}

.btn-class-name:active {
  transition: 0s;
  box-shadow: 0 0 0 5px rgb(254, 1, 154);
}
